@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Sedgwick+Ave+Display&family=Underdog&display=swap');
.batwords{
    font-family: 'Sedgwick Ave Display';
    color: #fddb3a;
}
.batwords2{
    font-family: 'Sedgwick Ave Display';
    color: white;
}
.batcolor{
    background-color: #fddb3a;
}
.batfont{
    font-family: 'Sedgwick Ave Display';
}
.batbackground{
  width: 100%;
  height: 250%;
  background-color: #4c4c4c;
  background-repeat: repeat;
  position: absolute;
  background-size: cover;
}
.batheader{
    color: white;
    font-family: 'Sedgwick Ave Display';
}