@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Crimson+Text&family=Sedgwick+Ave+Display&family=Underdog&display=swap');
.iuwords{
    font-family: 'Crimson Text';
    color: white;
}
.iuwords2{
  font-family: 'Crimson Text';
  color: black;
}
.iufont{
  font-family: 'Crimson Text';
}
.iubackground{
  width: 100%;
  height: 250%;
  background-color: #a20a0a;
  background-repeat: repeat;
  position: absolute;
  background-size: cover;
}
.iuheader{
  color:white;
  font-family: 'Crimson Text';
}